__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.pyc
*.pyo
*.pyd
.coverage
.coverage.*
.cache
.pytest_cache
coverage.xml
*.log
.git
.env
*.db
build/
dist/
*.egg-info
.vscode/
.pytest_cache/
*.xml
cloudbuild.yaml
deploy/
config/.env.local
.editorconfig
