# Copy me to .env only in the same directory and fill the AGENT_ACCESS_TOKEN
# field
AGENT_ACCESS_TOKEN=<paste your token here>

DEBUG=0
LOG_FORMAT=plain
AGENT_URL=https://console.chaosiq.io
AGENT_BACKEND=kubernetes
VERIFY_TLS=True
CHAOS_BINARY=
HEARTBEAT_INTERVAL=900
CTK_DOCKER_IMAGE=chaosiq/chaostoolkit
